body {
  background-color: #3333;
}

.box {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  top: 200px;
  transition-duration: 3s, 10s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.box:hover {
  background: skyblue;
  border: 1px solid #333;
  border-radius: 50%;
  /* transform: rotateY(360deg); */
  transform: rotate(360deg);
}
